@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');
body{
	line-height: 1.5;
        text-align: center;
}
*{
	margin:0;
	padding:0;
	box-sizing: border-box;
}
/* header-section & navbar */
.carousel-item {
    height: 800px;
}
.carousel .carousel-indicators button{
   width: 10px;
  height: 10px;
  border-radius: 100%;
  margin:0 10px;
  background-color: #000;
}
.carousel .carousel-indicators .active{
    background-color: #fff;
}

.carousel-control-next-icon {
    background-image: url('data:image/svg+xml,<svg class="bi bi-caret-right-fill" viewBox="0 0 16 16" fill="%23000" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="m12.14 8.753-5.482 4.796c-.646.566-1.658.106-1.658-.753V3.204a1 1 0 0 1 1.659-.753l5.48 4.796a1 1 0 0 1 0 1.506z" clip-rule="evenodd"/></svg>');
}

.carousel-control-prev-icon {
    background-image: url('data:image/svg+xml,<svg class="bi bi-caret-left-fill" viewBox="0 0 16 16" fill="%23000" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="m3.86 8.753 5.482 4.796c.646.566 1.658.106 1.658-.753V3.204a1 1 0 0 0-1.659-.753l-5.48 4.796a1 1 0 0 0 0 1.506z" clip-rule="evenodd"/></svg>');
}
/* about */
h3{
  font-family:"Red Hat Text";
  font-weight:700;
}
.lead{
    font-family:"Jost";
    font-weight:500;
}
.heading {
  text-align: center;
  margin: 4em 0;
}
.heading-text {
  font-size: 2rem;
  font-family:"Red Hat Text";
  font-weight:700;
}
.parahead-text {
    font-family:"Jost";
    font-size:1.25rem;
    font-weight:Normal;
    letter-spacing:0.005rem;
    padding:50px 100px;
}
.heading-text:hover{
    background: -webkit-linear-gradient(#b06ab3,#4568dc);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.nav-tabs .nav-item .nav-link {
  color: #000;
}
.nav-tabs .nav-item .nav-link.active {
    background: -webkit-linear-gradient(#b06ab3,#4568dc);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
/* footer-section */
.container{
	max-width: 1170px;
	margin:auto;
	text-align: left;
}
.row{
	display: flex;
	flex-wrap: wrap;
}
ul{
	list-style: none;
}

/*Footer*/
.footer{
	background-color: #24262b;
    padding: 70px 0;
}
.footer-col{
   width: 25%;
   padding: 0 15px;
}
.footer-col h4{
	font-size: 18px;
	color: #ffffff;
	text-transform: capitalize;
	margin-bottom: 35px;
  font-family: 'Jost', sans-serif;
	font-weight: 500;
	position: relative;
}
.footer-col h4::before{
	content: '';
	position: absolute;
	left:105px;
	bottom: -10px;
	background: linear-gradient(#b06ab3,#4568dc);
	height: 2px;
	box-sizing: border-box;
	width: 50px;
}
.footer-col ul li:not(:last-child){
	margin-bottom: 10px;
}
.footer-col ul li a{
	font-size: 16px;
	text-transform: capitalize;
	color: #ffffff;
	text-decoration: none;
  font-family: 'Jost', sans-serif;
	font-weight: 400;
	color: #bbbbbb;
	display: block;
	transition: all 0.3s ease;
}
.footer-col ul li a:hover{
	color: #ffffff;
	padding-left: 8px;
}
.footer-col .social-links a{
	display: inline-block;
	height: 40px;
	width: 40px;
	background-color: rgba(255,255,255,0.2);
	margin:0 10px 10px 0;
	text-align: center;
	line-height: 40px;
	border-radius: 50%;
	color: #ffffff;
	transition: all 0.5s ease;
}
.footer-col .social-links a:hover{
	color: #24262b;
	background-color: #ffffff;
}

/*responsive*/
@media(max-width: 767px){
  .footer-col{
    width: 50%;
    margin-bottom: 30px;
}
}
@media(max-width: 574px){
  .footer-col{
    width: 100%;
}
}



